html,
body {
  height: 100%;
  background-color: #121927;
  color: #dcdaff;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.is-invalid {
  border: 1px solid red;
  box-shadow: 0 0 1px 1.5px #dc3545;
}
.modal.fade.show {
  background: #000000d9;
}
.component-wrapper {
  margin-top: 2rem;
  padding: 2rem;
}
.show {
  display: block;
}
.text-danger {
  color: #da4295 !important;
}
.custom-card {
  padding: 1.5rem;
  background: #272c3a;
  border-radius: 6px;
}
.confNok {
  position: relative;
  overflow: hidden;
}
.confNok::after {
  content: "NOK";
  color: black;
  line-height: 1.3rem;
  font-weight: 800;
  font-size: 0.7rem;
  position: absolute;
  top: 6px;
  right: -23px;
  height: 20px;
  width: 79px;
  background: #dc3944;
  transform: rotate(45deg);
  text-align: center;
}
.cancel-padding {
  padding: 0 !important;
}
/* Custom dark modal style */
.modal-content {
  background-color: #272c3a; /* Dark background color */
  color: #ffffff; /* Light text color */
}

.modal-header {
  border-bottom: 1px solid #454d55; /* Border color for the header */
}

.modal-header h5 {
  color: #ffffff; /* Light text color for the header title */
}

.modal-body,
.modal-footer {
  border-top: 1px solid #454d55; /* Border color for the body and footer */
}

/* Close button color */
.modal-header .btnClose {
  color: #ffffff;
  border: none;
  background: transparent;
}

/* Close button hover color */
.modal-header .btnClose:hover {
  color: #007bff; /* Bootstrap's primary color */
}
.secondaryColor {
  color: #f25cb0;
}
.subContainer-center {
  margin: auto;
  max-width: 330px;
}
.info-wrapperBG {
  background: linear-gradient(#f75eaf, #8530c7);
  width: 330px;
  color: #dcdaff;
  height: 100%;
  position: relative;
  left: -7.5px;
  margin-bottom: 45px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
.info-wrapper {
  position: relative;
  left: 15px;
  top: 25px;
  border: 2px solid white;
  padding: 1.2rem 2rem;
  background: #121927;
  border-bottom-right-radius: 30px;
  p {
    margin: 5px;
    strong {
      color: #00bb99;
    }
  }
  .info-title {
    position: absolute;
    padding: 0.5ch;
    width: 300px;
    top: -1.5ch;
    background-color: #121927;
    border: 2px solid #00bb99;
    border-radius: 6px;
    left: calc(50% - 150px);
  }
  .additional {
    padding: 0.5ch;
    width: 300px;
    color: #fb9e26;
    margin: auto;
    margin-top: 1.5rem;
    font-size: 1rem;
  }
}

#loading-container,
.loading-container-visible {
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 999;
  position: fixed;
  background-color: #121927;
  top: 0;
  left: 0;

  .loading-center {
    position: fixed;
    height: 250px;
    width: 250px;
    top: calc(calc(100vh - 250px) / 2);
    left: calc(calc(100vw - 250px) / 2);

    h1::after {
      content: "...";
      animation-name: points-animation;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      border-radius: 10px;
    }

    h1 {
      color: #dcdaff;
      font-size: 2.3rem;
      margin-left: 55px;
      font-weight: 600;
    }

    .loading-bar {
      height: 15px;
      background-color: #304266;
      border-radius: 10px;
      overflow: hidden;

      .loading-obj {
        height: 15px;
        background: linear-gradient(90deg, #b95ef7, #00bb99);
        width: 75px;
        animation-name: move-leftright;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        border-radius: 10px;
      }
    }
  }
}
.loading-container-visible {
  display: block;
  width: auto;
  height: auto;
  .loading-center {
    top: 45vh;
  }
}

#notification-container .notification {
  display: block;
  position: fixed;
  width: 230px;
  z-index: 99;
  top: -150px;
  color: #121927;
  right: 20px;
  opacity: 0.95;
  border-radius: 15px;
  animation-name: slideinTop;
  animation-duration: 0.85s;
  animation-fill-mode: forwards;
  padding: 10px 20px;
}

#notification-container {
  z-index: 99;
  .notification.error {
    background: #ff7466;
  }

  .notification.success {
    background: #66ff80;
  }

  .notification.warning {
    background: #ffec66;
  }

  .notification {
    p.body {
      font-size: 0.7rem;
      margin-bottom: 5px;
    }

    h3.title {
      font-size: 1.2rem;
      font-weight: 400;
    }

    .btn {
      position: absolute;
      top: 5px;
      right: 10px;
      padding: 0;
      font-size: 1rem;
    }
  }
}

@keyframes slideinTop {
  from {
    top: -150px;
  }

  to {
    top: 20px;
  }
}

@keyframes move-leftright {
  0% {
    margin-left: -45px;
  }

  100% {
    margin-left: 250px;
  }
}

@keyframes points-animation {
  0% {
    content: "";
  }

  30% {
    content: ".";
  }

  60% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

@media (min-width: 576px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 18px;
  }
  .component-wrapper {
    margin-top: 1rem;
    padding: 1rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121927;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #475788;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #272c3a;
}

.mt-6 {
  margin-top: 3rem !important;
}
.mt-7 {
  margin-top: 4rem !important;
}
.mt-8 {
  margin-top: 5rem !important;
}
.mt-9 {
  margin-top: 6rem !important;
}
.mt-10 {
  margin-top: 7rem !important;
}

.leaflet-control-container {
  display: none !important;
}

.leaflet-control-container .leaflet-zoom-animated.leaflet-marker-shadow,
.leaflet-routing-container-hide,
.leaflet-pane.leaflet-shadow-pane,
.leaflet-marker-draggable {
  display: none !important;
}

.row {
  margin: 0;
  .col-md-6 {
    padding: 0;
  }
}
.mapWrapper {
  #map {
    position: relative;
    z-index: 0;
    height: calc(100vh - 300px);
  }
}

strong.metrics {
  color: #da4295 !important;
}
.detailsWrapper {
  position: relative;
  color: #dcdaff;
  z-index: 99;
  padding: 1rem;
  background-color: #121927;
  margin-top: -25px;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  .detailsCard {
    .cardDesc {
      font-size: 1rem;
      margin-bottom: 10px;
      strong {
        color: #00bb99;
      }
    }
  }
  .button-wrapper .btn {
    color: #121927;
    font-weight: 600;
    width: calc(50% - 10px);
    margin: 5px;
    font-size: 0.9rem;
    border: none;
    padding: 0.3rem;
    max-height: 50px;
    min-height: 50px;
  }
  .button-wrapper .btn-success {
    background-color: #00bb99;
  }
  .button-wrapper .btn-danger {
    background-color: #d53a90;
  }
}
body:has(.reachedClientModel) {
  overflow: hidden;
}
.topLeftProfileBtn {
  background: transparent;
  color: yellowgreen;
  border: 1px solid yellowgreen;
  margin: 10px 0 0 10px;
  border-radius: 10px;
  padding: 2px 15px;
}
.float {
  border: 2px solid yellowgreen;
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  z-index: 99;
  background: #121927ea;
  box-shadow: 0 0 10px 2px #121927;
}