.wrapper {
  overflow: hidden;
  max-width: 420px;
  margin: auto;
  height: 100vh;
  background-color: #222a39;
  box-shadow: #080808 0px 0px 18px 5px;
  .profile-header {
    position: relative;
    background-color: #399964 /* #01a587 */;
    padding: 20px 20px 70px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 160px;
    h1 {
      color: white;
      font-size: 1.7rem;
      text-transform: capitalize;
    }
    h2 {
      color: white;
      font-size: 1rem;
      font-weight: 400;
      text-transform: capitalize;
    }
    .adminSwitchHolder {
      position: absolute;
      top: 25px;
      right: 25px;
      color: white;
      font-size: 1.8rem;
    }
  }
  .profile-dashboard {
    position: relative;
    top: -75px;
    background: #101725;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    height: calc(100vh - 120px);
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 
        0 -4px 6px -4px rgba(0, 0, 0, 0.3), /* top shadow */
        0 4px 6px -4px rgba(0, 0, 0, 0.3);

    .dashboard-balance {
      .balance-wrapper {
        margin-bottom: 25px;
        h1 {
          margin: 0;
        }
        h2 {
          font-weight: 100;
          font-size: 1rem;
        }
      }
      .summary-item {
        margin-bottom: 5px;
        h1 {
          margin-left: 15px;
          font-size: 1.5rem;
        }
        h2 {
          font-weight: 100;
          margin: 0;
          font-size: 1rem;
          .fa-solid.fa-circle {
            font-size: 0.7rem;
            color: yellowgreen;
            margin-right: 5px;
            position: relative;
            top: -1px;
          }
        }
      }
    }
    .dashboard-recents {
      background: #212b3f;
      padding: 15px 0.75rem 10px 0.75rem;
      border-radius: 6px;
      margin-top: 15px;
      h5 {
        margin-bottom: 1rem;
      }
      .behavior-card {
        background-color: #131c2d;
        border-radius: 6px;
        margin: 5px 0;
        padding: 0.5rem;
        * {
          margin: 0;
        }
      }
    }
  }
}
.hidden-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.emptyListMsg{
  background: #3b4559;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
  margin: 5px;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}