.container{
  padding: 0 !important;
}
.welcome-msg {
  margin-bottom: 1.5rem;
  text-align: center;
  .username {
    color: #f25cb0;
  }
}
.info-wrapperBG {
  background: linear-gradient(#f75eaf, #8530c7);
  width: 330px;
  color: #dcdaff;
  height: 100%;
  position: relative;
  left: -7.5px;
  margin-bottom: 45px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
.info-wrapper {
  position: relative;
  left: 15px;
  top: 25px;
  border: 2px solid white;
  padding: 1.2rem 2rem;
  background: #121927;
  border-bottom-right-radius: 30px;
  p {
    margin: 5px;
    strong {
      color: #00bb99;
    }
  }
  .info-title {
    position: absolute;
    padding: 0.5ch;
    width: 300px;
    top: -1.5ch;
    background-color: #121927;
    border: 2px solid #00bb99;
    border-radius: 6px;
    left: calc(50% - 150px);
  }
  .additional {
    padding: 0.5ch;
    width: 300px;
    color: #fb9e26;
    margin: auto;
    margin-top: 1.5rem;
    font-size: 1rem;
  }
}
.button-wrapper{
  width: 330px;
  margin: auto;
}
.button-wrapper .btn {
  color: #121927;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  padding: 0.8rem;
}
.button-wrapper .btn-success {
  background-color: #00bb99;
}
.button-wrapper .btn-danger {
  margin-top: 0.5rem;
}
.subContainer-center {
  margin: auto;
  max-width: 330px;
}

.m-4 {
  margin: 1rem 0 !important;
}

.midContainer {
  background: #1c283f;
  padding: 25px;
  border-radius: 15px;
  margin-top: -35px;
  border-top-left-radius: 0;
}