<div class="container">
    <form [formGroup]="driverForm" (ngSubmit)="updateDriver()">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="familyName" class="form-label">Nom:</label>
                <input type="text" placeholder="Nom" id="familyName" class="form-control" formControlName="familyName"
                    [class.is-invalid]="!driverForm.get('familyName')?.valid && driverForm.get('familyName')?.touched" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Prénom:</label>
                <input type="text" placeholder="Prénom" id="name" class="form-control" formControlName="name"
                    [class.is-invalid]="!driverForm.get('name')?.valid && driverForm.get('name')?.touched" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="phoneNbr" class="form-label">N° de téléphone:</label>
                <input type="tel" placeholder="+--- --- --- ---" id="phoneNbr" class="form-control"
                    formControlName="phoneNbr"
                    [class.is-invalid]="!driverForm.get('phoneNbr')?.valid && driverForm.get('phoneNbr')?.touched" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="carYear" class="form-label">L'année du véhicule:</label>
                <input type="number" placeholder="AAAA" id="carYear" class="form-control" formControlName="carYear"
                    [class.is-invalid]="!driverForm.get('carYear')?.valid && driverForm.get('carYear')?.touched" />
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-6 mb-3">
                <label for="zone" class="form-label">Zone:</label>
                <select id="zone" class="form-control form-select" formControlName="zone"
                    [class.is-invalid]="!driverForm.get('zone')?.valid && driverForm.get('zone')?.touched">
                    <option value="" selected disabled hidden>Sélectionnez une zone</option>
                    <option *ngFor="let zone of zones" [value]="zone.id">
                        {{zone.name}}
                    </option>
                </select>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="carBrand" class="form-label">Marque du véhicule:</label>
                <select id="carBrand" class="form-control form-select" formControlName="carBrand"
                    [class.is-invalid]="!driverForm.get('carBrand')?.valid && driverForm.get('carBrand')?.touched">
                    <option value="" selected disabled hidden>Sélectionnez une marque</option>
                    <option *ngFor="let carBrand of carBrands" [value]="carBrand.id">
                        {{carBrand.name}}
                    </option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="carType" class="form-label">Type de voiture:</label>
                <select id="carType" class="form-control form-select" formControlName="carType"
                    [class.is-invalid]="!driverForm.get('carType')?.valid && driverForm.get('carType')?.touched">
                    <option value="" selected disabled hidden>Sélectionnez un type de voiture</option>
                    <option *ngFor="let carType of carTypes" [value]="carType.id">
                        {{carType.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="carDescription" class="form-label">Description de la voiture:</label>
                <input type="text" placeholder="Description de la voiture" id="carDescription" class="form-control"
                    formControlName="carDescription"
                    [class.is-invalid]="!driverForm.get('carDescription')?.valid && driverForm.get('carDescription')?.touched" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="carColor" class="form-label">Couleur du véhicule</label>
                <input type="text" placeholder="Couleur du véhicule" id="carColor" class="form-control"
                    formControlName="carColor"
                    [class.is-invalid]="!driverForm.get('carColor')?.valid && driverForm.get('carColor')?.touched" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="expertiseVDate" class="form-label">Date de validité de l'expertise:</label>
                <input type="date" placeholder="dd/mm/yyyy	" id="expertiseVDate" class="form-control"
                    formControlName="expertiseVDate"
                    [class.is-invalid]="!driverForm.get('expertiseVDate')?.valid && driverForm.get('expertiseVDate')?.touched" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="authorizationVDate" class="form-label">date de validité de l'autorisation</label>
                <input type="date" placeholder="dd/mm/yyyy	" id="authorizationVDate" class="form-control"
                    formControlName="authorizationVDate"
                    [class.is-invalid]="!driverForm.get('authorizationVDate')?.valid && driverForm.get('authorizationVDate')?.touched" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="drivingPermit" class="form-label">Permis de conduire:</label>
                <i *ngIf="filesForm.drivingPermitURL" class="fa fa-eye" aria-hidden="true"
                    (click)="fetchFileAndRedirect(filesForm.drivingPermitURL)"></i>
                <input type="file" class="form-control"
                    [class.is-invalid]="!filesForm.drivingPermitURL && !filesForm.drivingPermit && prevSubmitted"
                    (change)="onFileSelected($event, 'drivingPermit')" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="transportPermit" class="form-label">Autorisation de transport:</label>
                <i *ngIf="filesForm.transportPermitURL" class="fa fa-eye" aria-hidden="true"
                    (click)="fetchFileAndRedirect(filesForm.transportPermitURL)"></i>
                <input type="file" class="form-control"
                    [class.is-invalid]="!filesForm.transportPermitURL && !filesForm.transportPermit && prevSubmitted"
                    (change)="onFileSelected($event, 'transportPermit')" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="taxiPermit" class="form-label">Licence de taxi:</label>
                <i *ngIf="filesForm.taxiPermitURL" class="fa fa-eye" aria-hidden="true"
                    (click)="fetchFileAndRedirect(filesForm.taxiPermitURL)"></i>
                <input type="file" class="form-control"
                    [class.is-invalid]="!filesForm.taxiPermitURL && !filesForm.taxiPermit && prevSubmitted"
                    (change)="onFileSelected($event, 'taxiPermit')" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="GrayCard" class="form-label">Carte grise du véhicule:</label>
                <i *ngIf="filesForm.GrayCardURL" class="fa fa-eye" aria-hidden="true"
                    (click)="fetchFileAndRedirect(filesForm.GrayCardURL)"></i>
                <input type="file" class="form-control"
                    [class.is-invalid]="!filesForm.GrayCardURL && !filesForm.GrayCard && prevSubmitted"
                    (change)="onFileSelected($event, 'GrayCard')" />
            </div>
        </div>
        <div class="footer">
            <button type="submit" class="btn btn-warning w-100">Terminer</button>
        </div>
    </form>
</div>