.adminSwitchHolder {
  padding: 2rem 0 0 2rem;
}
.adminSwitchHolder i.fa-solid.fa-gears {
  background: #ffc107;
  color: #121927;
  padding: 1rem 0.9rem 1rem 0.9rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}
.locationWrapper {
  padding: 0 1.4rem !important;
  .row .halfFiled {
    padding: 4px !important;
  }
  label.form-label.alignLeft-5 {
    position: relative;
    left: -0.5rem;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.midContainer {
  background: #29364fbf;
  padding: 15px;
  border-radius: 15px;
  border-top-left-radius: 0;
}
.btn.btn-warning:disabled {
  position: relative;
  color: #ffc107 !important;
  overflow: hidden;
}

.btn.btn-warning:disabled::after {
  content: "Loading";
  position: absolute;
  color: black !important;
  right: 0;
  width: 100%;
  text-align: center;
}

.btn.btn-warning:disabled::before {
  z-index: 99;
  content: " ";
  position: absolute;
  color: black !important;
  right: 55px;
  bottom: 0;
  width: 20%;
  height: 3px;
  border-radius: 6px;
  background-color: #242e45;
  text-align: center;
  animation-name: left-to-right;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes left-to-right {
  0% {
    right: -30%;
  }

  30% {
    right: 0;
  }

  60% {
    right: 50%;
  }

  100% {
    right: 100%;
  }
}
