<button class="topLeftProfileBtn float" (click)="redirectToProfile()">
    <i class="fa fa-user"></i> Profile
</button>
<div *ngIf="rideDoesntExist">
    <div class="text-center mt-5">
        <p class="fs-3"> <span class="text-danger">Opps!</span> Une erreur s'est produite.</p>
        <p class="lead">
            Le lien de la course est erroné.
        </p>
    </div>
</div>
<div *ngIf="!rideDoesntExist && isCanceledRide ">
    <div class="text-center mt-10 container">
        <p class="fs-3"> <span class="text-danger">Opps! <br></span> La course semble être annulée par le client</p>
        <p class="lead">
            Restez à l'écoute pour d'autres courses
        </p>
    </div>
</div>
<div *ngIf="!rideDoesntExist && !isCanceledRide && connectionLost">
    <div class="text-center mt-10 container">
        <p class="fs-3"> <span class="text-danger">Opps! <br></span> Connexion perdue avec le client</p>
        <p class="lead">
            Rétablissement de la connexion, veuillez patienter
        </p>
    </div>
    <div class="loading-container-visible">
        <div class="loading-center">
            <h1>Loading</h1>
            <div class="loading-bar">
                <div class="loading-obj"></div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!rideDoesntExist && !connectionLost && !isCanceledRide && ready">
    <div class="mapWrapper">
        <div class="row">
            <div id="map"></div>
        </div>
    </div>
    <app-cancel-ride *ngIf="cancelingRideInProgress" (update)="onCancelReasonEvent($event)"></app-cancel-ride>
    <div class="row" style="position: relative;">
        <button class="CenterBtnWrapper" (click)="mapFitBoundToUser()"><i class="fa-solid fa-crosshairs"></i></button>
        <button class="callBtnWrapper" (click)="callUser()"><i class="fa-solid fa-phone"></i></button>
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="detailsWrapper">
                <div class="detailsCard">
                    <p style="font-size: 1.4rem;">Arriving in <strong class="metrics">
                            {{timeToReachClient ? timeToReachClient : 'counting'}}</strong></p>
                    <hr>
                    <p class="cardDesc"><strong>Client Phone number: </strong> {{data.phoneNumber}}</p>
                    <p class="cardDesc"><strong>Final Destination: </strong> {{getDestination()}}</p>
                    <p class="cardDesc">Distance left <strong class="metrics">{{distanceLeft? distanceLeft:
                            'counting'}}</strong></p>
                </div>
                <!-- Buttons -->
                <hr>
                <div class="w-100 button-wrapper">
                    <button class="btn btn-success" (click)="statusBtnClicked()">{{getStatusBtnText()}}</button>
                    <button class="btn btn-danger" (click)="cancelingRideInProgress=true">Cancel Ride</button>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>

<div class="reachedClientModel detailsWrapper" *ngIf="hasReachedClientModelOn">
    <div class="reachedClientModel-body">
        Picked up the client ?
        <div class="w-100 button-wrapper">
            <button class="btn btn-success" (click)="pickedUpClientResponse(true)">Yes</button>
            <button class="btn btn-danger" (click)="pickedUpClientResponse(false)">Not yet</button>
        </div>
    </div>
</div>