.container {
  padding: 0 !important;
}
.welcome-msg {
  margin-bottom: 1.5rem;
  text-align: center;
}
.button-wrapper {
  width: 330px;
  margin: auto;
}
.button-wrapper .btn {
  color: #121927;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  padding: 0.8rem;
}
.button-wrapper .btn-success {
  background-color: #00bb99;
}
.button-wrapper .btn-danger {
  margin-top: 0.5rem;
}

.m-4 {
  margin: 1rem 0 !important;
}

.midContainer {
  background: #1c283f;
  padding: 25px;
  border-radius: 15px;
  margin-top: -35px;
  border-top-left-radius: 0;
}

.rideEndedDetails{
  strong{
      color: #da4295;
      font-weight: 400;
  }
  padding: 15px 15px 0 15px;
  border: 2px solid;
  margin: 30px 15px 15px 15px;
  border-radius: 20px;
}